.kotak-bawah{position:absolute;bottom:0;left:300px;border-top:1px solid #ddd;right:0;padding:10px 15px}.kotak-bawah .label-infox{float:right}
.time-info{color:#333;padding:0 0 5px;font-weight:700;font-size:13px}.post img{height:200px}
.label-infox a:nth-child(2){display:none}
.label-infox a{color:#555!important;padding:3px 0;font-size:12px}
.post{background:#fff;padding:0;position:relative;margin-bottom:25px;margin-right:15px;box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);transition:box-shadow .25s}.post-outer{width:100%}
.post:hover .author-publish a{opacity:1;left:50px}
.comment-link,.comment-link a,.comment-link a:hover,.timestamp-link a,.timestamp-link a:hover,.post-author,.post-author a,.post-author a:hover {color:#222}.blog-pager,#blog-pager{clear:both;text-align:center;overflow:hidden;padding:25px 0 0}
img.authoravatar{position:absolute;top:20px;left:10px;z-index:9;padding:2px;line-height:2.5;font-size:12px;background:#f5f5f5;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);border-radius:100%;transition:all .3s ease-in-out}
.author-publish a{position:absolute;z-index:9;left:20px;opacity:0;background:#fff;font-size:12px;border-radius:4px;padding:0 10px;color:#555}
.timestamp-link{color:#555!important;text-transform:uppercase}
#main-wrapper{border:none;background:none;box-shadow:none}
.post h2{margin:0;color:#222;font-family:&#39;Roboto&#39;,Arial,Sans-Serif!important;padding:0;font-size:0;font-weight:400;overflow:hidden;max-height:55px;margin-bottom:10px;line-height:1}
.post h2 a{color:#434a54;font-size:16px;font-weight:700;text-decoration:none}
.post h2 a:hover{color:#1572af; text-decoration:none}
.post-header {margin:0;padding:13px 10px 10px;color:#333;line-height:1.6em;font-size:12px;overflow:hidden;font-weight:normal;text-transform:uppercase;font-family:&#39;Roboto&#39;, Arial}
.post-header a{color:#444!important}
.post-header a:hover{text-decoration:none;color:#555!important}
.info-face{font:11px Tahoma;line-height:1.6em;margin:0;padding:0;color:#fff;text-decoration:none;display:block}
.info-face a{color:#fff;text-decoration:none}
.clock, .clock a {list-style:none;text-decoration:none}
.post-body{margin:0;padding:0}.time-info .published{text-transform:none}
img.authoravatar{width:30px!important;height:30px!important;border-radius:100%;float:left;margin-right:10px;cursor:pointer}
.snippet-wrapper{line-height:1.7em;padding-right:10px;color:#333;display:block;float:right;font-size:13px;height:100%;overflow:hidden}
.post-thumbnail{height:100%;position:relative;border:none;margin:0 auto;text-align:center;display:block;float:left;margin-top:-23px}
.post-thumb {float:left;line-height:0;margin-right:20px;position:relative;max-width:100%;width:300px}.jump-link {display:none}
.box-body-deg{display:block;position:relative;overflow:hidden}.box-deg{height:auto;position:relative;margin:0;padding:0}
@media screen and (max-width:684px){#blog-pager{padding:12px}#main-wrapper{padding:0;margin:-5px}.post{height:340px}.post-thumbnail{width:100%}.box-body-deg{padding:0 10px;float:left}.post h2 a{font-size:16px}.post img{height:200px;width:100%}.post-thumb{overflow:hidden;padding-bottom:20px}.post-outer{width:100%;float:none}.box-body-deg{overflow:initial}.snippet-wrapper{display:none}}
